<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="br.com.munirahmed.app"
        version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Munir Ahmed</name>

  <description>Aplicativo para divulgar meus trampos.</description>

  <author email="elsangedy@gmail.com" href="https://fb.com/munir.7a">Munir Ahmed</author>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <access origin="*"/>

  <content src="index.html"/>

</widget>